bp_lg_max = -1
bp_md_max = 1024
bp_sm_max = 767
bp_xs_max = 480
bp_xx_max = 359
bp_xx_min = 0
player_size = 40
player_padding = 3
population = 7
snowflake_color = '#80c0ff'
render_interval = 250
turn_interval = 5 * render_interval
